.section-deck-of-cards {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image:
    url("/html&css/assets/img/projects/casino-large.jpg");
    background-position: center bottom;
    background-size: cover;
    display: flex;
}

#card-box img {
  width: 30%;
  padding: 5px;
}

@media (min-width: 768px) {
  #card-box img {
    width: 18%;
  }
}
  
@media (min-width: 992px) {
    #card-box img {
      width: 18%;
    }
}

@media (min-width: 1200px) {
  #card-box img {
    width: 18%;
}
}

.deck-of-cards-heading {
    color: var(--color-white);
    font-size: 2.5rem;
  }
  
  @media (min-width: 768px) {
    .deck-of-cards-heading {
      font-size: 3.2rem;
    }
  }
  
  @media (min-width: 992px) {
    .deck-of-cards-heading {
      font-size: 3.5rem;
    }
  }

  .playing-cards-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-color-card-shuffle {
    background-color: #A11;
    color: var(--color-white);
  }

  .btn-color-card-shuffle:hover {
    color: var(--color-white);
  }

/* button {
    width: 300px;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #A11;
    color: white;
    cursor: pointer;
    margin-top: 60px;
}

button:hover {
    background-color: #B33;
} */